/* First scene */
/* Text */
@keyframes showFirstSceneOne {
    from, 0% {
        transform: translateY(-90px);
    }

    3.85% {
        transform: translateY(-5px);
    }

    5.13%, 29.49% {
        transform: translateY(8px);
    }

    30.77%, to {
        transform: translateY(80px);
    }
}

@keyframes showFirstSceneTwo {
    from, 0% {
        transform: translateY(-72px);
    }

    5.13%, 29.49% {
        transform: translateY(0px);
    }

    30.77%, to {
        transform: translateY(80px);
    }
}

/* Cards */
@keyframes showFirstSceneThree {
    from, 0% {
        transform: rotate(-15deg) translateY(100px);
    }

    5.13%, 29.49% {
        transform: rotate(-15deg) translateY(37px);
    }

    30.77%, to {
        transform: rotate(-15deg) translateY(-200px);
    }
}

@keyframes showFirstSceneFour {
    from, 0% {
        transform: rotate(-15deg) translateY(100px);
    }

    5.13%, 29.49% {
        transform: rotate(-15deg) translateY(-23px);
    }

    30.77%, to {
        transform: rotate(-15deg) translateY(-220px);
    }
}

/* Card flare */
@keyframes showFirstSceneFive {
    from, 3.85% {
        transform: rotate(15deg) translateY(0px);
        left: -69px;
    }

    6.41%, to {
        transform: rotate(15deg) translateY(-22px);
        left: -74px
    }
}

/* Second scene */
/* Text */
@keyframes showSecondSceneOne {
    from, 34.62% {
        transform: translateY(-50px);
    }

    35.9% {
        transform: translateY(-28px);
    }

    37.18%, 60.26% {
        transform: translateY(0);
    }

    61.54%, to {
        transform: translateY(100px);
    }
}

@keyframes showSecondSceneTwo {
    from, 34.62% {
        transform: translateY(-50px);
    }

    37.18%, 60.26%{
        transform: translateY(50px);
    }

    61.54%, to {
        transform: translateY(100px);
    }
}

/* Balls */
@keyframes showSecondSceneThree {
    from, 34.62% {
        transform: translate(0, 85px) rotate(8deg);
    }

    37.18%, 60.26% {
        transform: translate(-34px, -48px) rotate(8deg);
    }

    61.54%, to {
        transform: translate(-34px, -200px) rotate(8deg);
    }
}

/* Third scene */
/* Money */
@keyframes showThirdSceneOne {
    from, 66.67% {
        transform: translateY(90px);
    }

    67.95%, 94.87% {
        transform: translateY(-23px);
    }

    96.15%, to {
        transform: translateY(-150px); 
    }
}

/* Text */

@keyframes showThirdSceneTwo {
    from, 66.67% {
        transform: translateY(-35px);
    }

    67.95% {
        transform: translateY(-5px);
    }

    69.23%, 94.87% {
        transform: translateY(15px);
    }

    96.15%, to {
        transform: translateY(100px); 
    }
}

@keyframes showThirdSceneThree {
    from, 66.67% {
        transform: translateY(-30px);
    }

    67.95%, 94.87% {
        transform: translateY(50px);
    }

    96.15%, to {
        transform: translateY(150px); 
    }
}


/* Button flare */
@keyframes showFlare {
    from, 82.05% {
        left: -300px;
    }

    88.46%, to {
        left: 300px;
    }
}